
body {
           background-repeat: no-repeat;
  }

#section3 {
          position: bottom;
}

h1 {
    color: white;
    font-size: 251%;
}

h2, h3 {
    text-align: center;
    color: white;
    font-size: 200%;
}

h3 {
    background-color: yellow; 
    border-radius: 15px;
    padding-top: 25px;
    padding-right: 5%;
    padding-bottom: 25px;
    padding-left: 5%;
    height: 10%;
    width: 10%;
    font-size: 150%;
    position: center;
}

ul {
    font-size: 18px;
}

p {
    font-size: 18px;
}

#Benefits { 
          text-align: left;
          color: black;
}

 #section2 {
          background-color: AliceBlue;
         height: 700%; width: 400%
 }

 #quote {
          font-size: 18px;
 }